@page "/{*url}" 
@model RimSpectorApi.Pages.Errors.NotARouteModel
@{
    ViewData["Title"] = "not found";}

<div class="text-center" style="height:80vh">
    <h1 class="text-danger">Not Found</h1>
    <div >
        <img  src="/images/404_NotFound.png"/>
    </div>  
    <a>Got kidnapped by a raider? There is nothing here. You shouldn't be here either.</a>
</div>

