@page "/"
@model RimSpectorApi.Pages.HomeModel

<div class="text-center home">
    <div class="content "> 
        <h1 style="font-family:'RimWordFont'">Welcome to RimSpector</h1>
        <a style="font-family:'RimWordFont'">
            Current RimSpecting @Model.CachedPayloadCount game(s).
        </a>
        @if (@Model.SomePayloadId.HasValue)
        {    
            <a href="/@Model.SomePayloadId">Show me a colony</a>
        }

        <div>
            RimSpector is a RimWorld mod that allows you to easily share information about your game with others; 
            all without any account and login shenanigans. 
        </div>
        <div>
            How it works: All you have to do is install the <a href="modlink">mod</a> and run a game of RimWorld. 
            The mod will regularly gather your games data and send it here, where it is stored for a short while.
            When you quit your game, your data will eventually expire and thus not be available anymore. 
        </div>
        <div>
            Once you installed the mod, you will find the link to your data in the Mod Settings. This link will always be 
            the same for you, 
            so it can be bookmarked for easier access.
            <img src="/images/settings.png" width=100%/>
        </div>
        <div>
            Should you have any questions, ideas or problems, leave a message either on the <a href="modlink">Steam mod page</a>
            or the <a href="https://github.com/Alrikozord/RimSpector"><img src="/images/GitHub-Mark-Light-32px.png" height="16" /><img src="/images/GitHub_Logo_White.png"  height="24" /></a>             
        </div>
        <h2>Todos & Upcoming Features</h2>
        <div>
            <ul class="todos & ideas">
                <li>Add Icons for ideology precepts and abilities</li>
                <li>More tooltip details</li>
                <li>I'd love a Twitch extension with the data. If anyone wants to give that a shot drop me a note, I'll support in any way I can as long as I don't have to touch JavaScript</li>
            </ul>
        </div>
       </div>
</div>