@page "/"
@model RimSpectorApi.Pages.HomeModel

<h1> Welcome to RimSpector</h1>

<div>
Current RimSpected games: @Model.CachedPayloadCount
</div>
@if (@Model.SomePayloadId.HasValue)
{    
    <a href="/@Model.SomePayloadId">Show me some Colony</a>
}