@model Guid
 <nav class="topNav">       
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/@Model/Pawns">Pawns</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/@Model/Ideos">Ideologies</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-dark" href="/@Model/Meta">Metadata</a>
        </li>
    </ul>
</nav>
